<% include ../partials/header %>

<form action="/course" method="POST">
  <input type="text" name="name" placeholder="Course">
  <input type="text" name="image" placeholder="image URL">
  <input type="text" name="description" placeholder="Description">
  <button>Submit</button>
</form>

<div class="">
  <a href="/courses">Go back to courses</a>
</div>

<% include ../partials/footer %>
